<html>

<head>
  <title>Todo app</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <h1>Todo App</h1>
  <hr>
  <h2>로그인</h2>
  <% if(msg){ %>
    <h3><%= msg %></h3>
  <% } %>
  <form action="/login" method="POST">
    <label for="username"> ID </label>
    <input id="username" name='username' type="text" placeholder="ID 를 입력해주세요" required>
    <br>
    <label for="pw"> PW </label>
    <input id="pw" name="pw" type="password" placeholder="Password 를 입력해주세요" required>
    <br>
    <button type="submit">로그인</button>
  </form>

  <a type="button" href="signup">회원가입</a>
</body>
<script>

</script>

</html>