<html>

<head>
  <title>Todo app</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <style>
    html {
      text-align: center;
      font-size: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    body {
      position: absolute;
      width: 500px;
      height: 500px;
      left: 50%;
      top: 50%;
      margin-left: -250px;
      margin-top: -250px;
      font-size: 2rem;
    }
  </style>
  <h1>Todo App</h1>
  <h3><b><a href="login">Start App</a></b></h3>
</body>
<script>
</script>

</html>