<html>

<head>
  <title>Todo app</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div class="header">
    <div class="header-title">
      <h1>Todo App </h1>
    </div>
    <div class="info">
      <%= username %> 님 안녕하세요
    </div>
  </div>
  <div class="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><button onclick="logout()">로그아웃</button></li>
      <li><button onclick="signout()">회원탈퇴</button></li>
    </ul>
  </div>
  <div class="main">
    <div class="leftBar">
      <div class="doInput">
        <h3>할 일 추가하기</h3>
        <div class='form-group'>
          <input type="text" class="form-control" id='new_todo' placeholder="새로운 할 일" onkeydown="get_list()">
        </div>
      </div>
    </div>
    <!-- <button type="button">추가</button> -->
    <div class="mainContent">
      <div class="todoList">
        <h3>할 일 목록</h3>
        <div class='todo-list' id='todo-list'>
          <table>
            <caption>목록표</caption>
            <thead>
              <tr>
                <th>no</th>
                <th>날짜</th>
                <th>내용</th>
                <th>확인</th>
                <th>메모</th>
                <th>기능</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2019-02-03</td>
                <td>청소하기</td>
                <td>good</td>
                <td>열심히 하였음</td>
                <td><button>체크하기</button><button>메모추가</button><button>삭제하기</button></td>
              </tr>
              <tr>
                <td>2</td>
                <td>2019-02-05</td>
                <td>장보기</td>
                <td>good</td>
                <td>많이 샀음음</td>
                <td><button>체크하기</button><button>메모추가</button><button>삭제하기</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <button type="button" onclick="remove_list()">목록 지우기</button>
      </div>
    </div>
  </div>
</body>
<script src="javascript/todo.js"></script>

</html>