<html>

<head>
  <title>Todo app</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div class="header">
    <div class="header-title">
      <h1>Todo App </h1>
    </div>
    <div class="info">
      <%= username %> 님 안녕하세요
    </div>
  </div>
  <div class="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><button onclick="logout()">로그아웃</button></li>
      <li><button onclick="signout()">회원탈퇴</button></li>
    </ul>
  </div>
  <div class="main">
    <div class="leftBar">
      <div class="doInput">
        <h3>할 일 추가하기</h3>
        <div class='form-group'>
          <input type="text" class="form-control" id='new_todo' placeholder="새로운 할 일" onkeydown="get_list()">
        </div>
      </div>
    </div>
    <!-- <button type="button">추가</button> -->
    <div class="mainContent">
      <div class="todoList">
        <h3>할 일 목록</h3>
        <div class='todo-list' id='todo-list'>
        </div>
        <button type="button" onclick="remove_list()">목록 지우기</button>
      </div>
    </div>
  </div>
</body>
<script src="javascript/todo.js"></script>

</html>