<html>

<head>
  <title>Todo app</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <h1>Todo App </h1>
  <span><p><%= username %> 님 안녕하세요</p> <button onclick="logout()">로그아웃</button><button onclick="signout()">회원탈퇴</button></span>
  <hr>
  <h3>할 일 추가하기</h3>
  <div class='form-group'>
    <input type="text" class="form-control" id='new_todo' placeholder="새로운 할 일" onkeydown="get_list()">
  </div>
  <!-- <button type="button">추가</button> -->

  <hr>
  <h3>할 일 목록</h3>
  <div class='todo-list' id='todo-list'>


  </div>
  <br>

  <button type="button" onclick="remove_list()">목록 지우기</button>
</body>
<script src="javascript/todo.js"></script>

</html>